
/*
========================
Base Styles
========================
*/

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	padding-top: 50px;
}

/*
========================
Header Styles
========================
*/

.list-header {
	background:
    /* top layer */
    linear-gradient(
      rgba(255, 255, 255, 0.55),
      rgba(255, 255, 255, 0.55)
    ),
    /* bottom layer is image */
    url("../images/hero.jpg")no-repeat center;
	background-size: cover;
}

/*
========================
Grid Layout Styles
========================
*/

.mdl-grid .mdl-cell h1 {
	letter-spacing: 4px;
}

div.mdl-grid {
	max-width: 540px;
	background: #fbfbfb;
}

.mdl-cell {
	text-align: center;
	position: relative;
}

/*
========================
Add Button Styles
========================
*/

.add-btn {
	position: absolute;
	bottom: -30px;
	left: 5%;
	z-index: 55555;
}

/*
========================
List Styles
========================
*/

ul#toDoList li {
  display: flex;
  justify-content: space-between;
}
